<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <form #FormSignIn="ngForm" (ngSubmit)="DangNhapTaiKhoan(FormSignIn)">
        <h4 class="display-4">Đăng Nhập</h4>
        <div class="form-group">
          <label for="">Tài Khoản</label>
          <input type="text" name="TaiKhoan" ngModel class="form-control" >
        </div>
        <div class="form-group">
          <label for="">Mật Khẩu</label>
          <input type="text" name="MatKhau" ngModel class="form-control">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success">Đăng nhập</button>
        </div>
      </form>

    </div>
  </div>
</div>
